/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 210;
  --first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(230, 3%, 58%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);
  --backgraund-color: hsl(213, 84%, 37%);
  /* --black-color : hsl(0, 0%, 0%);  */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 2rem;
  }
  
  .section__title,
  .section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
  }
  
  .section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .section__subtitle span {
    color: var(--first-color);
  }
  
  .main {
    overflow: hidden;
    /* For animation ScrollReveal */
  }
  
  /*=============== HEADER & NAV ===============*/
  .header {
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
  }

  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  .nav__logo span {
    color: var(--first-color);
  }

  .nav__toggle,
  .nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
  }

  /* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
    .nav__menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: hsl(0, 0%, 10%, .3);
      width: 75%;
      height: 100%;
      padding: 4.5rem 0 0 3rem;
      backdrop-filter: blur(24px);
      -webkit-backdrop-filter: blur(24px);
      /* For safari */
      transition: right .4s;
    }
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
  }
  
  .nav__link:hover {
    color: var(--first-color);
  }

  .nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  /* Show menu */
.show-menu {
    right: 0;
  }

  /* Add blur to header */
.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, .3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  /* For safari */
  top: 0;
  left: 0;
  z-index: -1;
}

  .home {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
  }
  .section{
    background-color: var(--container-color) !important;
  }

  
  .home__container {
    padding-top: 2rem;
    row-gap: 2.5rem;
  }

  .home__content {
    display: grid;
    row-gap: 2rem;
  }

  .home__data {
    text-align: center;
  }
  
  .home__subtitle {
    font-size: var(--h3-font-size);
    display: inline-block;
    background-color: transparent;
    padding: 1rem 1.75rem;
    border: 1px solid var(--title-color);
    border-radius: 5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    cursor: pointer;
  }

  .home__subtitle span{
    color: var(--first-color);
  }
  .home__title {
  color: var(--title-color);
}

  .home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  padding: 2rem;
}

.home__description {
    margin-block: 1rem 1.5rem;
}

.home__image {
    justify-self: center;
}

.home__image {
    width: 320px;
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .4));
}

/*=============== BUTTON ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    margin: 0 0.5rem;
    border-radius: 5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
}
.button:hover {
    box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
}

.buttonC {
    display: inline-block;
    background-color: var(--container-color);
    padding: 1rem 1.75rem;
    margin: 0 0.5rem;
    border: 1px solid var(--title-color);
    border-radius: 5rem;
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: all 1s ease-out;
}
.buttonC:hover {
    color: var(--body-color);
    background-color: var(--title-color);
    box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
}

/*=============== ABOUT ===============*/
.about{
  background-color: var(--title-color) !important ;
}

.about__container {
  row-gap: 2.5rem;
}

.about__image {
  justify-self: center;
}

.section__subtitle,
.section__title{
  color: var(--container-color);
}

.about__description {
  margin-bottom: 2rem;
  text-align: center;
}

.about__content,
.about__group {
  display: grid;
}

.about__content {
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, max-content);
  column-gap: 2rem;
  justify-content: center;
  align-items: baseline;
}

.about__group {
  row-gap: 1rem;
  list-style: none;
}

.about__item{
  font-weight: var(--font-semi-bold);
  color: var(--body-color);
}

.about__item i{
  color: var(--backgraund-color);
  font-size: var(--h2-font-size);
}

.about__social-link i{
  font-size: var(--h1-font-size);
  padding: 5px;
  margin: 0.3rem;
  border: 1px solid var(--backgraund-color);
  border-radius: 50px;
  transition: all 0.4s ease-out;
}

.about__social-link i:hover{
  background-color: var(--backgraund-color);
  color: var(--title-color);
}

/*=============== SERVICES ===============*/
.services{
  background-color: #e6e3e3 !important ;
}

.services .section__title{
  padding: 0 2rem;
}

.services__description {
  margin-bottom: 2rem;
  text-align: center;
  padding: 0 2rem;
}

.services__container {
  row-gap: 2rem;
  padding-block: 1rem;
}

.services__card {
  text-align: center;
  background-color: var(--title-color);
  padding: 3rem 1.25rem;
  border-radius: 0.5rem;
  border: 2px solid var(--title-color);
  transition: background-color .5s;
}

.services__icon {
  font-size: 2rem;
  font-weight: var(--font-medium);
  background-color: #e6e3e3;
  color: var(--backgraund-color);
  margin-bottom: .75rem;
  border: 1px solid #e6e3e3; 
  border-radius: 50px;
  padding: 1rem;
}

.service__title {
  color: var(--body-color);
  font-size: var(--h2-font-size);
  margin-top: 2rem;
  padding: 20px 0;
}

.services__card:hover {
  background-color: var(--backgraund-color);
  color: var(--title-color);
}

.button__services{
  display: inline-block;
  background-color: #e6e3e3;
  padding: 0.5rem 1.75rem;
  margin: 0 0.5rem;
  border-radius: 5rem;
  color: var(--backgraund-color);
  font-weight: var(--font-medium);
}

/*=============== CHOOSUS ===============*/
.section__choosus{
  background: url(../img/bg-hero.png) center center no-repeat;
  background-size: cover;
  background-color: var(--backgraund-color);
  padding: 0 4rem;
}

.button__choosus{
  display: inline-block;
  padding: 0.5rem 1.75rem;
  margin-bottom: 1rem;
  margin-top: 5rem;
  border: 1px solid var(--title-color);
  border-radius: 5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.choosus__description{
  padding:  1rem 0;
}

.choosus__content,
.choosus__group{
  list-style: none;
  padding: 1rem 0;
  color: var(--title-color);
}

.choosus__item{
  padding: 0.5rem 0;
}

.choosus__item i{
  font-size: 1rem;
  border: 1px solid var(--title-color);
  border-radius: 50px;
  padding: 0.2rem;
  font-weight: var(--font-semi-bold);
  color: var(--backgraund-color);
  background-color: var(--title-color);
}

/* .content_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
} */

.choosus__block{
  border: 1px solid rgba(255, 255, 255, 0.103);
  border-radius: 0.7rem;
  /* width: 11rem; */
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.103);
}

.choosus__block i{
  font-size: 2rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.content_block p{
  color: var(--title-color);
}

.content_block span{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-size: 2rem;
}



